# Analyse neuroimagerie
nilearn
mne-connectivity

# Machine learning
scikit-learn
mlxtend

# Data science de base
numpy
pandas
scipy

# Visualisation
matplotlib
seaborn

# Exécution automatique du notebook
papermill
jupyter
nbconvert

# Pipeline
invoke
pyyaml
